assets/clips/*.mp4 filter=lfs diff=lfs merge=lfs -text
assets/clips-2d/*.mp4 filter=lfs diff=lfs merge=lfs -text
runpod-aoi-results-absolute-quality-aligned/outputs/*.json filter=lfs diff=lfs merge=lfs -text
